@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_Success")
<h1>This is an Index Page</h1>


<section>
    <ul>
        <li>My Appointments</li>
        <li>Confirmed Appointments</li>
    </ul>
</section>