@using training.healthcareportal.Models
@model List<ServiceModel>


@{
    ViewBag.Title = "ViewServices";

}

<h2 style="text-align:center; font-family:Papyrus;font-size:48px;">View the Services</h2>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Example</title>
    @Styles.Render("~/Content/css")

<style>
/*    #image1 {
        background-image: url(https://th.bing.com/th/id/OIP._EwHANkTrSPvl4RdfdFmawAAAA?pid=ImgDet&w=180&h=180&rs=1) !important;
        background-repeat: no-repeat;
        background-size: 200px;
        background-position: bottom !important;
        -webkit-background-clip: initial !important;
        color: transparent !important;
    }*/
</style>
</head>
<body>
    <div class="container">
        <div class="row" style="display: flex; text-align:center; flex-wrap:wrap;">
            @foreach (var item in Model)
            {
                <div class="col" style="padding: 100px; background-color: white; width: 350px;">
                    <img src="~/img/@item.PhotoPath" alt="Dental Image" />
                    <strong style="font-family:Papyrus;font-size:36px;">@Html.ActionLink(@item.ServiceName, "ViewDoctorsInfo", "ViewDoctor", new { Serviceid = item.ServiceId }, new { @class = "text-success", @style = "text-decoration: none !important" })</strong>

                </div>
             }

        </div>

    </div>

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

</body>
</html>
